<p>Here is the current node list of the master server</p>
<div ng-if="jobs.error">
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{jobs.error}}
    </div>
</div>
<div class="animate-repeat" ng-repeat="job in jobs">
    <div class="panel {{job.panel}}">
        <div class="panel-heading">
            <h3 class="panel-title">{{job.jobName}} | {{job.jobStatus}}</h3>
        </div>
        <div class="panel-body">
            <p>{{job.completedTasks}} of out {{job.totalTasks}}</p>
            <p>Encoding at {{job.totalFps}} fps</p>
            
        </div>
    </div>
</div>